<div class="container">
  <div class="filter-bar mb-4">
    <ul class="nav nav-pills justify-content-start">
      <li class="nav-item">
        <%= link_to "All", outfits_path, class: "nav-link #{'active' if !params[:theme]}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Summer", outfits_path(theme: "summer"), class: "nav-link #{'active' if params[:theme] == 'summer'}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Streetwear", outfits_path(theme: "streetwear"), class: "nav-link #{'active' if params[:theme] == 'streetwear'}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Casual", outfits_path(theme: "casual"), class: "nav-link #{'active' if params[:theme] == 'casual'}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Formal", outfits_path(theme: "formal"), class: "nav-link #{'active' if params[:theme] == 'formal'}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Party & Event", outfits_path(theme: "party & event"), class: "nav-link #{'active' if params[:theme] == 'party & event'}" %>
      </li>
    </ul>
  </div>

  <div class="row g-4">
    <% @outfits.each do |outfit| %>
      <div class="col-md-4 col-sm-6 my-3">
        <%= link_to outfit_path(outfit), class: "text-decoration-none" do %>
          <% if outfit.images.attached? && outfit.images.first.present? %>
            <div class="position-relative image-container">
              <%= image_tag outfit.images.first, class: "img-fluid rounded outfit-image", style: "box-shadow: 8px 8px 12px rgba(0,0,0,0.3); background-color: white;" %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<style>
  .image-container {
    width: 300px;
    height: 400px;
    position: relative;
  }

  .outfit-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 400px;
    object-fit: cover;
  }
</style>