<h1>Add New Outfit</h1>

<%= form_with(model: @outfit, local: true) do |form| %>
  <div>
    <%= form.label :number %>
    <%= form.number_field :number %>
  </div>

  <div>
    <%= form.label :theme %>
    <%= form.text_field :theme %>
  </div>

  <div>
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div data-controller="items">
    <h3>Items</h3>
    
    <template data-items-target="template">
      <%= form.fields_for :items, Item.new, child_index: "NEW_RECORD" do |item_form| %>
        <div>
          <div>
            <%= item_form.label :name %>
            <%= item_form.text_field :name %>
          </div>

          <div>
            <%= item_form.label :brand %>
            <%= item_form.text_field :brand %>
          </div>

          <div>
            <%= item_form.label :link %>
            <%= item_form.text_field :link %>
          </div>

          <button type="button" data-action="items#remove">
            Remove Item
          </button>
        </div>
      <% end %>
    </template>

    <div data-items-target="container">
      <%= form.fields_for :items do |item_form| %>
        <div>
          <div>
            <%= item_form.label :name %>
            <%= item_form.text_field :name %>
          </div>

          <div>
            <%= item_form.label :brand %>
            <%= item_form.text_field :brand %>
          </div>

          <div>
            <%= item_form.label :link %>
            <%= item_form.text_field :link %>
          </div>

          <button type="button" data-action="items#remove">
            Remove Item
          </button>
        </div>
      <% end %>
    </div>

    <button type="button" data-action="items#add">
      Add Another Item
    </button>
  </div>

  <div>
    <%= form.submit "Create Outfit" %>
  </div>
<% end %>

<%= link_to "Back to outfits", outfits_path %> 