<div>
  <h1>Outfit: <%= @outfit.theme %></h1>
  
  <div>
    <% if @outfit.images.attached? %>
      <% @outfit.images.each do |image| %>
        <div class="col-md-4">
          <%= image_tag image, class: "img-fluid rounded" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div>
    <h2>Items in this outfit:</h2>
    <% if @outfit.items.any? %>
      <ul>
        <% @outfit.items.each do |item| %>
          <li>
            <strong><%= item.name %></strong>
            <br>
            Brand: <%= item.brand %>
            <br>
            <%= link_to "Shop this item", item.link, target: "_blank" %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No items have been added to this outfit yet.</p>
    <% end %>
  </div>

  <div>
    <%= link_to "Back to all outfits", outfits_path %>
    <%= link_to "Edit Outfit", edit_outfit_path(@outfit) %>
    <%= button_to "Delete Outfit", 
                  outfit_path(@outfit), 
                  method: :delete,
                  data: { confirm: "Are you sure you want to delete this outfit?" } %>
  </div>
</div>