<div class="container">
  <div class="d-flex justify-content-center position-relative w-100 mb-2" style="height: 5rem;">
    <h2 class="text-uppercase mb-1 position-absolute start-50 translate-middle-x" style="transform: translateX(-30%);">
      OUTFITS BY
    </h2>
    <h1 class="text-uppercase d-inline-block position-absolute start-50 translate-middle-x" 
        style="transform: translateX(30%); 
               top: 2.5rem; 
               position: relative;">
      THEME
      <span style="position: absolute;
                   bottom: -0.5rem;
                   right: -1.5rem;
                   width: 6rem;
                   border-bottom: 2px solid black;"></span>
    </h1>
  </div>

  <div class="mb-5">
    <h3>FOR</h3>
    <h3>SUMMER</h3>
    <div class="row g-4">
      <% Outfit.where(theme: "summer").limit(3).each do |outfit| %>
        <div class="col-md-4">
          <%= link_to outfit_path(outfit), class: "text-decoration-none" do %>
            <% if outfit.images.attached? && outfit.images.first.present? %>
              <%= image_tag outfit.images.first, class: "img-fluid rounded outfit-image" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="mb-5">
    <h3>FOR</h3>
    <h3>STREETWEAR</h3>
    <div class="row g-4">
      <% Outfit.where(theme: "streetwear").limit(3).each do |outfit| %>
        <div class="col-md-4">
          <%= link_to outfit_path(outfit), class: "text-decoration-none" do %>
            <% if outfit.images.attached? && outfit.images.first.present? %>
              <%= image_tag outfit.images.first, class: "img-fluid rounded outfit-image" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="mb-5">
    <h3>AND...</h3>
    <h3>SPECIAL OCCASIONS</h3>
    <div class="row g-4">
      <% Outfit.where(theme: "special occasions").limit(3).each do |outfit| %>
        <div class="col-md-4">
          <%= link_to outfit_path(outfit), class: "text-decoration-none" do %>
            <% if outfit.images.attached? && outfit.images.first.present? %>
              <%= image_tag outfit.images.first, class: "img-fluid rounded outfit-image" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
