<div>
  <h1>OUTFITS BY</h1>
  <h2>THEME</h2>

  <div>
    <h3>FOR</h3>
    <h3>SUMMER</h3>
    <div>
      <%= link_to outfits_path(theme: "summer") do %>
        <% Outfit.where(theme: "summer").limit(3).each do |outfit| %>
          <div>
            <% if outfit.images.attached? && outfit.images.first.present? %>
              <%= image_tag outfit.images.first %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div>
    <h3>FOR</h3>
    <h3>STREETWEAR</h3>
    <div>
      <%= link_to outfits_path(theme: "streetwear") do %>
        <% Outfit.where(theme: "streetwear").limit(3).each do |outfit| %>
          <div>
            <% if outfit.images.attached? && outfit.images.first.present? %>
              <%= image_tag outfit.images.first %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div>
    <h3>AND...</h3>
    <h3>SPECIAL OCCASIONS</h3>
    <div>
      <%= link_to outfits_path(theme: "special occasions") do %>
        <% Outfit.where(theme: "special occasions").limit(3).each do |outfit| %>
          <div>
            <% if outfit.images.attached? && outfit.images.first.present? %>
              <%= image_tag outfit.images.first %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
